@import "tailwindcss";

html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #f9fafb; /* light background */
  color: #1f2937; /* gray-800 for readable text */
  font-family: 'Inter', sans-serif;
}

* {
  box-sizing: border-box;
}
